@charset "UTF-8";

/*
    Paleta de cores:

    Verde: #49a09d
    Lilás: #5f2c82
*/
:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
    --verde-escuro: #387674;
    --verde-claro: rgb(139, 203, 201);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    
    padding: 0;
    margin: 0;
}

body{
    width: 97vw;
    height: 96vh;
    background-color: var(--lilas);
}

section#login{
        background-color: white;
        margin: auto;
        margin-top: 20px;
        width: 300px;
        height: 600px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.233);
        border-radius: 20px;
}

img{
    width: 300px;
    height: 265px;
    border-radius: 19px 19px 0px 0px;
}

div#formulario{
    padding: 10px;
}

div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

div#formulario>p{
    margin-bottom: 10px;
    font-size: 0.9em;
}

div#formulario>form{
    display: flex;
    flex-direction: column;
}

div#formulario>form{
    gap: 6px;
}

div#formulario>form>input{
    background-color: var(--verde-claro);
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}

div#formulario>form>button{
    padding: 14px;
    border-radius: 8px;
}

div#formulario>form>button#submitButton{
    background-color: var(--verde);
    border: none;
    color: white;
    cursor: pointer;
}

div#formulario>form>button#idkPassButton{
    border: 1px solid var(--verde);
    color: var(--verde-escuro);
    cursor: pointer;
}

div#formulario>form>button#submitButton:hover{
    background-color: var(--verde-escuro);
}

div#formulario>form>button#idkPassButton:hover{
    background-color: var(--verde-claro);
}

.material-symbols-outlined{
    font-size: 15px;
}
